body{
	margin: 0 40px;
	font-family: 'Raleway', sans-serif;
}
header {
	text-align: center;
}
header img {
	max-width: 100%;
}
main {
	text-align: center;
}
table {
	width: 50%; 
	border: 2px solid black;
	background-color: grey;
	margin: auto;
	padding: 0 20px;
}
.row:after {
 content: "";
  clear: both;
  display: table;
}
.column {
  float: left;
  width: 50%;
  padding: 1px;
}
 th, td {
 	text-align: center;
 	padding: 16px;
 }
.full {
	padding: 10px;
}
th {
	font-size: 30px;
	font-style: bold;
}
.links{
	background-color:white; 
	text-align: center; 
	font-style:bold;
	font-size: 20px;
}
.circles {
	border-radius: 250px;
	height: 500px;
	width: 500px;
	border: 5px solid black;
}
.align {
	text-align: center;
}
.scircles {
	border-radius: 150px;
	width: 300px;
	height: 300px;
	border: 5px solid black;
}
.shadow {
	box-shadow: 1px 1px 10px grey;
}
a:link, a:visited {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.uberschrift {
	font-family:  'Raleway', sans-serif;
	font-size: 30px;
}